.cardWrapper {
  width: 600px;
  height: 220px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background-color: rgb(60, 62, 68);
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.cardFlex {
  display: flex;
  gap: 20px;
  cursor: pointer;
  text-decoration: none;
}

.cardImage {
  width: 220px;
  height: 100%;
}

.desc {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1 1 auto;
}

.textWrapper {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  margin-bottom: 10px;
}

.descName {
  color: rgb(158, 158, 158);
  font-size: 16px;
}

.descText {
  color: rgb(254, 254, 254);
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
}

.iconsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.iconsWrapper img {
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .cardWrapper {
    width: auto;
    height: auto;
  }

  .cardFlex {
    gap: 5px;
  }
  
  .cardImage {
    height: 280px;
  }

  .textWrapper {
    flex-direction: column;
    align-items: start;
    gap: 5px;
    margin-bottom: 5px;
  }

  .descName {
    font-size: 12px;
  }

  .descText {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .cardWrapper {
    padding-bottom: 20px;
  }

  .cardImage {
    width: 300px;
  }

  .cardFlex {
    flex-direction: column;
  }

  .iconsWrapper {
    position: static;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
}

@media screen and (max-width: 400px) {
  .cardImage {
    width: 250px;
    height: auto;
  }
}