.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modalHeader {
  margin: 0;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  margin-top: 10px;
}

.inputWrapper.statusWrapper {
  width: 100px;
}

.label {
  font-weight: bold;
  color: rgb(39, 43, 51);
}

input, textarea {
  width: 100%;
  padding: 4px 0px 4px 4px;
  font-size: 14px;
}

.select {
  height: 30px;
  width: 100px;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 10px;
  margin-top: 4px;
  display: block;
  position: absolute;
  bottom: -12px;
}

.modalRequiredFields {
  color: red
}
